/* Style Sheet */

#mainDiv {
    background-color: black;
    width: 350px;
    height: auto;
    margin: 20px auto;
    padding: 15px;
    
    display:flex;
    flex-direction: column;

    border: 0px;
    border-radius: 10px;
}

#historyDiv, #currentDiv {
    color: #969696;
    background-color: black;
    height: 50px;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: right;

    font-size: 45px;
    font-weight: bold;
    padding: 10px;
}

#currentDiv {
    color: #FFFFFF;
}


.buttonDiv {
    height: auto;
    width: auto;

    display:flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-around;

    
}

button {
    width: 75px;
    height: 75px;
    color:#FFFFFF;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    background-color: #343434;
    border: 0;
    border-radius: 10px;
}

.operator {
    color: #66FF7F;
}

#clear {
    color: #343434;
    background-color: #FF5959;
}

#equals {
    color: #343434;
    background-color: #66FF7F;
}